body{
	background-image: url(image2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
}

header{
	text-align: center;
	font-weight: 100%;
	font-size: 35px;
	font-family: fantasy;
	background: rgba(0,233,233,0.8);
	margin: none;
	color:#333;

}
.container{
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	justify-content: center;
	justify-content: space-around;
	background: rgba(0,0,0,0.4);
	border-radius:40px;




}
.boxmodel{
	display: flex;
	border: 2px solid #333;
	height: 250px;
	width: 250px;
	align-items: center;
	justify-content: center;


}
#first{
	border-radius: 30px;
	background:rgba(0,0,233,0.9);
	font-size:25px;
	font-family: New Times Roman , Roman ,Roboto ,fantasy ;
	margin: 30px;
	/*box-shadow:  4px 3px #000;*/
	transition: all 1s;

}

#first:hover{
	color:white;
	background: rgba(233,0,233,0.7);
	box-shadow:inset 4px 4px 4px 4px #000;

}





